{
      "port": 6150,
      "pubkey_path": "/home/admin/adex-auth-conf/public-key.pem",
      "privkey_path": "/home/admin/adex-auth-conf/private-key.pem",
      "redis_connection_string": "redis://127.0.0.1:6379",
      "token_expiration_time": 300,
      "kdf_rpc_client": "http://127.0.0.1:7783",
      "kdf_rpc_password": "RPC_UserP@SSW0RD",
      "proxy_routes": [
        {
          "inbound_route": "/ethereum",
          "outbound_route": "https://xxxxxx.quiknode.pro/xxxxxx",
          "proxy_type": "quicknode",
          "authorized": true,
          "allowed_methods": [
            "eth_getLogs",
            "eth_estimateGas",
            "eth_getTransactionByHash",
            "eth_getTransactionByBlockHashAndIndex",
            "eth_getTransactionByBlockNumberAndIndex",
            "eth_getTransactionReceipt",
            "eth_blockNumber",
            "eth_call",
            "eth_gasPrice",
            "eth_getTransactionCount",
            "eth_sendRawTransaction",
            "eth_getBlockByHash",
            "eth_getBlockByNumber",
            "eth_getBalance",
            "web3_clientVersion",
            "eth_feeHistory",
            "trace_filter"
          ]
        },
        {
          "inbound_route": "/sepolia",
          "outbound_route": "https://xxxxxx.ethereum-sepolia.quiknode.pro/xxxxxx/",
          "proxy_type": "quicknode",
          "authorized": false,
          "allowed_methods": [
            "eth_getLogs",
            "eth_estimateGas",
            "eth_getTransactionByHash",
            "eth_getTransactionByBlockHashAndIndex",
            "eth_getTransactionByBlockNumberAndIndex",
            "eth_getTransactionReceipt",
            "eth_blockNumber",
            "eth_call",
            "eth_gasPrice",
            "eth_getTransactionCount",
            "eth_sendRawTransaction",
            "eth_getBlockByHash",
            "eth_getBlockByNumber",
            "eth_getBalance",
            "web3_clientVersion",
            "eth_feeHistory",
            "trace_filter"
          ]
        },
        {
          "inbound_route": "/cosmos",
          "outbound_route": "https://xxxxxx.cosmos-mainnet.quiknode.pro/xxxxxx",
          "proxy_type": "quicknode",
          "authorized": true,
          "allowed_methods": [
            "abci_info",
            "abci_query",
            "block",
            "block_results",
            "block_search",
            "blockchain",
            "broadcast_tx_async",
            "broadcast_tx_sync",
            "broadcast_tx_commit",
            "commit",
            "consensus_params",
            "consensus_state",
            "validators",
            "health",
            "genesis",
            "net_info",
            "status",
            "broadcast_evidence",
            "tx",
            "tx_search"
          ]
        },
        {
          "inbound_route": "/avalanche",
          "outbound_route": "https://xxxxxx.avalanche-mainnet.quiknode.pro/xxxxxx/ext/bc/C/rpc",
          "proxy_type": "quicknode",
          "authorized": true,
          "allowed_methods": [
            "eth_getLogs",
            "eth_estimateGas",
            "eth_getTransactionByHash",
            "eth_getTransactionByBlockHashAndIndex",
            "eth_getTransactionByBlockNumberAndIndex",
            "eth_getTransactionReceipt",
            "eth_blockNumber",
            "eth_call",
            "eth_gasPrice",
            "eth_getTransactionCount",
            "eth_sendRawTransaction",
            "eth_getBlockByHash",
            "eth_getBlockByNumber",
            "eth_getBalance",
            "web3_clientVersion",
            "eth_feeHistory",
            "trace_filter"
          ]
        },
        {
          "inbound_route": "/arbitrum",
          "outbound_route": "https://xxxxxx.arbitrum-mainnet.quiknode.pro/xxxxxx/",
          "proxy_type": "quicknode",
          "authorized": true,
          "allowed_methods": [
            "eth_getLogs",
            "eth_estimateGas",
            "eth_getTransactionByHash",
            "eth_getTransactionByBlockHashAndIndex",
            "eth_getTransactionByBlockNumberAndIndex",
            "eth_getTransactionReceipt",
            "eth_blockNumber",
            "eth_call",
            "eth_gasPrice",
            "eth_getTransactionCount",
            "eth_sendRawTransaction",
            "eth_getBlockByHash",
            "eth_getBlockByNumber",
            "eth_getBalance",
            "web3_clientVersion",
            "eth_feeHistory",
            "trace_filter"
          ]
        },
        {
          "inbound_route": "/binance",
          "outbound_route": "https://xxxxxx.bsc.quiknode.pro/xxxxxx/",
          "proxy_type": "quicknode",
          "authorized": true,
          "allowed_methods": [
            "eth_getLogs",
            "eth_estimateGas",
            "eth_getTransactionByHash",
            "eth_getTransactionByBlockHashAndIndex",
            "eth_getTransactionByBlockNumberAndIndex",
            "eth_getTransactionReceipt",
            "eth_blockNumber",
            "eth_call",
            "eth_gasPrice",
            "eth_getTransactionCount",
            "eth_sendRawTransaction",
            "eth_getBlockByHash",
            "eth_getBlockByNumber",
            "eth_getBalance",
            "web3_clientVersion",
            "eth_feeHistory",
            "trace_filter"
          ]
        },
        {
          "inbound_route": "/polygon",
          "outbound_route": "https://xxxxxx.matic.quiknode.pro/xxxxxx",
          "proxy_type": "quicknode",
          "authorized": false,
          "allowed_methods": [
            "eth_getLogs",
            "eth_estimateGas",
            "eth_getTransactionByHash",
            "eth_getTransactionByBlockHashAndIndex",
            "eth_getTransactionByBlockNumberAndIndex",
            "eth_getTransactionReceipt",
            "eth_blockNumber",
            "eth_call",
            "eth_gasPrice",
            "eth_getTransactionCount",
            "eth_sendRawTransaction",
            "eth_getBlockByHash",
            "eth_getBlockByNumber",
            "eth_getBalance",
            "web3_clientVersion",
            "eth_feeHistory",
            "trace_filter"
          ]
        },
        {
          "inbound_route": "/tron",
          "outbound_route": "https://xxxxxx.tron-mainnet.quiknode.pro/xxxxxx/jsonrpc",
          "proxy_type": "quicknode",
          "authorized": false,
          "allowed_methods": [
            "eth_getLogs",
            "eth_estimateGas",
            "eth_getTransactionByHash",
            "eth_getTransactionByBlockHashAndIndex",
            "eth_getTransactionByBlockNumberAndIndex",
            "eth_getTransactionReceipt",
            "eth_blockNumber",
            "eth_call",
            "eth_gasPrice",
            "eth_getTransactionCount",
            "eth_sendRawTransaction",
            "eth_getBlockByHash",
            "eth_getBlockByNumber",
            "eth_getBalance",
            "web3_clientVersion",
            "eth_feeHistory",
            "trace_filter"
          ]
        },
        {
          "inbound_route": "/solana",
          "outbound_route": "https://xxxxxx.solana-mainnet.quiknode.pro/xxxxxx/",
          "proxy_type": "quicknode",
          "authorized": false,
          "allowed_methods": [
            "eth_getLogs",
            "eth_estimateGas",
            "eth_getTransactionByHash",
            "eth_getTransactionByBlockHashAndIndex",
            "eth_getTransactionByBlockNumberAndIndex",
            "eth_getTransactionReceipt",
            "eth_blockNumber",
            "eth_call",
            "eth_gasPrice",
            "eth_getTransactionCount",
            "eth_sendRawTransaction",
            "eth_getBlockByHash",
            "eth_getBlockByNumber",
            "eth_getBalance",
            "web3_clientVersion",
            "eth_feeHistory",
            "trace_filter"  
          ]
        }        
      ],
      "rate_limiter": {
        "rp_1_min": 1000,
        "rp_5_min": 5000,
        "rp_15_min": 10000,
        "rp_30_min": 15000,
        "rp_60_min": 30000
      },
      "peer_healthcheck_caching_secs": 10
    }
